body {
	background-color: #666699;
}


 h1 {
  font-family:Didot;
  text-align:center;
  color:white;
border:5px white solid;
}


h2 {
  color: #AAA;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

table {
	height: 600px;
	position: relative;
	left: 470px;
	text-align: center;
	width: 500px;
	border: 10px white solid;
}

td{
	width: 250px;
	height: 600px;
	border: 10px white solid;
}

img{
	Height: 600px;
	width: 500px;
	]
	