#grid {
	display: grid ;
	border: 2px white solid;
	width: 800px;
	grid-template-rows: 75% 75%;
	height: 1750px;
	
}

#head-thing {
	font-size: 60px;
	font-family: Trattatello, fantasy; 
	color: white; 
	text-align:center;
}


body {
	background-color: #c2c2d6;
}

img {
	width: 500px;
	height: 400px;
}

p {
	font-size: 300px;
	font-family: Copperplate
}
body{
	background-color: #666699;
}

